.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: rgba(244, 233, 220, 0.977);
  font-size: 18px;
}
.image {
  color: cornflowerblue;
  margin: 10px ;
}
.image img {
  width: 140px;
  height: 180px;
  border-radius: 50%;
}
.adresse {
  vertical-align: middle;
  margin: auto 0;
}
